@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.demo {
  background-color: #f9f9f9;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
  margin: 2rem 0 3rem;
  border-radius: 0.25rem;
}

@media (max-width: 767.98px) {
  .demo {
    padding: 1rem;
  }
}
